variables:
  PORT: 5000

maven-compile:
  stage: build
  script:
    - mvn compile

maven-test:
  stage: test
  script:
    - mvn test

kill-previous-webapp:
  stage: build
  script:
    - fuser -k tcp $PORT/tcp || true # kill existing connections on port 5000/tcp, ignore errors

maven-package:
  stage: deploy
  artifacts: 
    untracked: true
  script:
    - mvn package

deploy-selfhost-webapp:  
  stage: deploy
  needs: maven-package
  script:
    - export PORT=$PORT
    - sh target/bin/simplewebapp > stdout.log 2>stderr.log & # run in background

deploy-heroku:
  stage: deploy
  script:
    - dpl --provider=heroku --app=ms2320-simplewebapp --api-key=$MS_API_KEY
