maven-compile:
  stage: build
  script:
    - mvn compile

maven-package:
  stage: build
  script:
    - mvn package

maven-test:
  stage: test
  script:
    - mvn test

deploy-app:
  stage: deploy
  variables:
    PORT: 5000
  script:
    - fuser -k ${PORT}/tcp # kill existing connections on port 5000/tcp
    - export PORT=${PORT}
    - sh target/bin/simplewebapp & # run in background
