variables:
  PORT: 5000

maven-compile:
  stage: build
  script:
    - mvn compile

maven-package:
  stage: build
  artifacts: 
    untracked: true
  script:
    - mvn package

maven-test:
  stage: test
  script:
    - mvn test

kill-previous:
  stage: build
  script:
    - fuser -k tcp $PORT/tcp || true # kill existing connections on port 5000/tcp, ignore errors

deploy-app:  
  stage: deploy
  needs:
    - kill-previous
    - maven-package
  script:
    - export PORT=$PORT
    - sh target/bin/simplewebapp & # run in background
