maven-compile:
  stage: build
  script:
    - mvn compile

maven-test:
  stage: test
  script:
    - mvn test

deploy-app:
  stage: deploy
  script:
    - mvn package
    - export PORT=5000
    - sh target/bin/simplewebapp &
